/* Webpage wide */
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}


/* Heading */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid {
  padding: 7% 15%;
}


/* Section */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
  color: #000;
}


/* Title Section */
#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}


/* Navigation Bar */
.navbar {
  margin-bottom: 30px;
  padding-left: 0px;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-item {
  margin: 0 18px;
  font-size: 1.2rem;
  font-weight: 100;
}


/* Download Button */
.dwnld-btn {
  margin: 3% 3% 5% 0%;
}


/* Title-image */
.title-img {
  width: 45%;
  margin: 0% 25% 0%;
  position: absolute;
  transform: rotate(25deg);
}

@media (max-width: 1210px) {
  .title-img {
    position: static;
    margin: 25%;
    transform: rotate(0deg);
  }
  @media (max-width: 992px) {
    #title {
      text-align: center;
    }
  }
}


/* Features*/
#features {
  position: relative;
}

.icon {
  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 10px;
}

.icon:hover {
  color: #ff4d69;
}


/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px 20px 0;
}


/* Press */
#press {
  background-color: #ef8172;
}

#press img {
  width: 15%;
  margin: 30px 20px 70px;
}


/* Pricing */
.card {
  margin: 20px;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Cta */
.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}


/* Footer */
.social-icon {
  margin: 25px 10px;
}

.social-icon:hover {
  color: aqua;
}

#footer p{
  color: grey;
}
